<%= turbo_frame_tag task do %>
  <div>
    <%= check_box_tag dom_id(task), task.id, task.done %>
    <%= label_tag dom_id(task), task.title %> |
    <%= link_to "編集", edit_task_path(task) %>
  </div>
<% end %>
