<p style="color: green"><%= notice %></p>

<h3>TODOリスト</h3>

<div class="card-body">
  <div class="row">
    <div class="col-4">完了</div>
    <div class="col-4">タイトル</div>
    <div class="col-4"><%= link_to "追加", new_task_path, class: "btn btn-sm btn-outline-primary" %></div>
  </div>

  <%= render @tasks %>
</div>
